body {
    background-color: #c8a928;
    text-align: center;

    margin: 10px 400px 0 400px;
}
button {
    border: 1px solid #00f;
    background: #f00;
}
textarea {
    resize: none;
}
select {
    border: transparent;
    background: #ffcb00;
    text-align: center;
}
optgroup#length {
    color: #f00;
}
optgroup#speed {
    color: #198605;
}
optgroup#energy {
    color: #ff0;
}
optgroup#data {
    color: #00f;
}
input {
    background: transparent;
    border: 1px solid #0051ff;
    height: 4vh;
    width: 10vw;
    border-radius: 5%;
}
.mobile {
    display: none;
}
@media only screen and (max-device-width: 480px) and (orientation: portrait) {
    body {
        height: 400px;
    }
    select {
        transform: scale(300%);
    }
    label {
        font-size: 40px;
    }
    input {
        transform: scale(300%);
        height: 1vh;
        width: 15vw;
    }
    .mobile {
        display: block;
    }
    textarea {
        transform: scale(200%);
    }
}